- var title = "Perry Mitchell"
doctype html
html(lang="en")
    head
        title Perry Mitchell
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans" rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style(type="text/css").
            html, body {
                height: 100%;
                overflow: hidden;
                margin: 0;
            }
            #content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #EEE;
                font-family: "Open Sans", sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .title {
                font-family: "Noto Serif", serif;
            }
            .info {
                max-width: 256px;
                text-align: center;
            }
            ul.links {
                list-style-type: none;
                padding: 0;
                text-align: center;
            }
            ul.links li {
                display: inline-block;
            }
            ul.links li:not(:first-child) {
                margin-left: 12px;
            }
            ul.links li:not(:first-child):before {
                content: "•";
                padding-right: 12px;
            }
            ul.links li a {
                color: #000;
            }
            ul.links2 li a {
                color: #666;
            }
            ul.links2 li:not(:first-child):before {
                content: "/";
            }
    body
        #content
            h1.title #{title}
            p.info Australian Web, Mobile, Applications, and Systems developer living in Finland.
            ul.links
                li
                    a(href="https://github.com/perry-mitchell", target="_blank") GitHub
                li
                    a(href="https://twitter.com/perry_mitchell", target="_blank") Twitter
                li
                    a(href="https://stackoverflow.com/story/perry-mitchell", target="_blank") StackOverflow
                li
                    a(href="https://www.linkedin.com/in/perry-mitchell-ab954baa/", target="_blank") LinkedIn
            ul.links.links2
                li
                    a(href="https://buttercup.pw/", target="_blank") Buttercup
                li
                    a(href="https://opencollective.com/buttercup", target="_blank") Buttercup Donations
                li
                    a(href="https://medium.com/@buttercup_pw", target="_blank") Buttercup News
